*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    
    border-radius: 10%;
}
h1{
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(39, 36, 36);
    background-color: transparent;
}
.mainform{
    height:fit-content;
    /* background-color: black; */
    color: aliceblue;
    padding: 5%; 
    display: flex; 
    justify-content: center;
}
form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    border: 1px black solid;
    border-radius: 5%;
    margin: 2px;
    padding: 3%;
}

button{
    padding: 3%;
    background-color: aqua;
    border: 1px black solid;
    border-radius: 50%;
    color: tomato;
    font-size: 15px;
    cursor: pointer;
    
}
button:hover{
    background-color:whitesmoke;
}
button:active{
    background-color: brown;
}
footer{
    background-color: aliceblue;
    border: 1px violet solid;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.commomOne{
    margin-top: 10px;
}
#discount{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    border-radius: 3px;
}
#selector{
    position: absolute;
    width: 50%;
}